body {
  background-color: silver;
  border: 4mm ridge;
  border-color: #22bbff;
  margin: auto;
  align-items: center;
  min-width: 900px;
}

h1 {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 100px;
  color: white;
  background-color: black;
  border: 4mm ridge;
  border-color: #22bbff;
  box-shadow: 10px 10px black;
}

h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: red;
  text-shadow: 4px 4px black;
}

td.square {
  color: white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 170px;
  text-align: center;
  height: 200px;
  width: 200px;
  border: 4mm ridge;
  border-color: #22bbff;
  box-shadow: 10px 10px black;
  min-width: 200px;
  min-height: 200px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

button#newGame {
  background-color: black;
  width: 300px;
  height: 100px;
  color: white;
  font-size: 50px;
  border: 4mm ridge;
  border-color: #22bbff;
  box-shadow: 10px 10px black;
}

div.button {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}
