body {
  background-color: silver;
  margin-bottom: 100px;
}

h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 100px;
  color: white;
  background-color: black;
  border: 4mm ridge;
  border-color: #22bbff;
}

h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: red;
}

td.square {
  color: white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 170px;
  text-align: center;
  height: 200px;
  width: 200px;
  border: 4mm ridge;
  border-color: #22bbff;
}

table {
  margin-left: auto;
  margin-right: auto;
}

td.button {
  text-align: center;
  padding-top: 30px;
}

button#newGame {
  background-color: black;
  width: 170px;
  height: 75px;
  color: white;
  font-size: 25px;
  border: 4mm ridge;
  border-color: #22bbff;
}
